body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  background-color: black;
}

.container {
  width: 100%;
  margin: 1em auto;
  /* background-color: white; */
 
}

.grid {
  display: grid;
  margin-left: 0.5px;
  grid-template-columns: repeat(3,1);
  justify-content: center;
}

.row {
  width: 100%;
}
